.about {
  max-width: 800px
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  min-height: 100vh;
  padding: 2rem 0;
}
.about-intro {
  background-color: #EEE;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Balthazar", sans-serif;
  line-height: 1.75rem;
  padding: 2rem;
}
.about-bios-title {
  font-size: 1.5rem;
  font-family: "Balthazar", sans-serif;
  line-height: 1.75rem;
  margin-top: 1rem;
}
.about-bios-desc {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
