.direction-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.directions-map {
  height: 80vh;
  width: 90vw;
}
.center {
  max-width: 1000px;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 30vh;
  max-width: 1000px;
  margin-bottom: 2rem;
}
.contact-item {
  height: 6rem;
  width: 300px;
  padding: 1rem;
}
.contact-name {
  font-size: 1.5rem;
  font-family: "Balthazar", sans-serif;
  line-height: 1.75rem;
}
.contact-detail {
  line-height: 1.25rem;
}
