.home-section {
  min-height: 40vh;
}
.home-description-alt {
  background-color: #FCFCFC
}
.home-section-double {
  max-height: 350px;
  max-width: 350px;
  padding: 2rem;
}
.home-hero {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DDDDDD url("assets/osman-rana-300482-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}
.home-hero-filter {
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: rgba(61, 132, 225, 0.3);
  z-index: 0;
}
.home-hero-text {
  color: #FFF;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 0.5rem #000;
  font-family: "Balthazar", serif;
  z-index: 1;
}
.home-description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
.home-description-img {
  img {
    max-height: 350px;
    max-width: 350px;
  }
}
.home-description-text {
  font-size: 1.5rem;
  font-family: "Balthazar", sans-serif;
  line-height: 1.75rem;
}

@media (max-width: 900px){
  .home > .home-description ~ .home-description {
    border-top: 1px solid #FaFaFa;
  }
  .home-description {
    flex-direction: column;
  }
}
