.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  width: 100vw;
  height: 80vh;
  background: #DDDDDD url("assets/osman-rana-300482-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
}
.home-hero-text {
  color: #FFF;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 0.5rem #000;
  font-family: "Copperplate", serif;
}
