.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px
}

.service-section {
  display: table-cell;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  min-height: 50vh;
  max-width: 400px;
  padding: 2rem 0;
}
.about-intro {
  display: table-cell;
  background-color: #EEE;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Balthazar", sans-serif;
  line-height: 1.75rem;
  padding: 2rem;
}
.about-bios-title {
  font-size: 1.5rem;
  font-family: "Balthazar", sans-serif;
  line-height: 1.75rem;
}
.about-bios-desc {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
