//Global variable declaration must go infront of dependent partials
$primary-color = #123456

//globbing

@require './vendor/*.styl'
@require './modules/**/*.styl'
@require './pages/*.styl'
//@require './components/**/*.styl'


//global
body {
  margin: 0;
  padding: 0;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flood {
  margin-left: -2rem;
  width: 100vw;
}
